{% extends "dashboard/dashboard_generic.html" %}
{% load static %}

{% block title %}Dashboard - Teacher{% endblock %}

{% block extra_content %}
  <div class="class-lists">
  <h2 class="head-class-lists">Your Class Lists</h2>
    <div class="class-lists-container">

      {% for section in sections %}
      <div class="class-box class-1">
        <img src="{% static 'img/team.png' %}" alt="" class="classlists-img">
        <h2 class="class-lists-name">{{section.section_name}}</h2>
        <a href="path to details" class="class-details-btn">Details</a>
        <a href="{% url  'section_view' pk=user.pk name=section.pk  %}" class="class-details-btn">Detail</a>
        <a href="{% url 'attendance_list' pk=user.pk section=section.pk %}">Attendance</a>
      </div>
      {% endfor %}

    </div>
  </div>
{% endblock %}