.settings-section{
background-color: #fff; 
padding: 20px;
border-radius: 10px;
margin-top: 20px;
box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
}

.form-input {
    display: flex;
    align-items: center;
}

.form-input input {
    width: 20%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin-right: 10px;
}

.search-btn {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
}

.search-btn:hover {
    background-color: #0056b3;
}

.box-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.box {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 30%;
    text-align: center;
    text-decoration: none;
    color: #333;
    transition: transform 0.3s ease;
}

.box:hover {
    transform: translateY(-5px);
}

.box i {
    font-size: 40px;
    margin-bottom: 10px;
    color: #007bff;
}

.box h3 {
    margin: 0;
    font-size: 20px;
}

.box p {
    color: #666;
}

.search-result {
    display: none;
}