<i class="bx bx-menu" id="sidebarOpen"></i>

 <nav class="sidebar">
    <div class="menu_content">
      <ul class="menu_items">
        <div class="menu_title menu_teacher"></div>

        <li class="item">
          <a href="{% url 'teacher_class_schedules' pk=user.pk %}" class="nav_link submenu_item">
            <span class="navlink_icon">
                <i class='bx bx-time'></i>
            </span>
            <span class="navlink">Class Schedule</span>
         </a>
        </li>

        <li class="item">
            <a href="{% url 'teacher_class_list' pk=user.pk %}" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class='bx bxs-user-detail' ></i>
              </span>
              <span class="navlink">Class List</span>
           </a>
          </li>
        <!-- end -->
      </ul>

      <ul class="menu_items">
        <div class="menu_title menu_setting"></div>
        <li class="item">
          <a href="/teacher/settings/settings-tc.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-cog"></i>
            </span>
            <span class="navlink">Settings</span>
          </a>
        </li>
        <li class="item">
          <a href="/teacher/archive/archive-tc.html" class="nav_link">
            <span class="navlink_icon">
                <i class='bx bx-archive'></i>
            </span>
            <span class="navlink">Archive</span>
          </a>
        </li>
        <li class="item">
            <a href="/teacher/faqs/faqs-tc.html" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class='bx bx-help-circle'></i>
              </span>
              <span class="navlink">FAQs</span>
           </a>
          </li>
          <li class="item">
            <a href="/teacher/about/about-tc.html" class="nav_link submenu_item">
              <span class="navlink_icon">
                <i class='bx bx-info-circle'></i>
              </span>
              <span class="navlink">About</span>
           </a>
          </li>
      </ul>

      <!-- Sidebar Open / Close -->
      <div class="bottom_content">
        <div class="bottom expand_sidebar">
          <span> Expand</span>
          <i class='bx bx-log-in' ></i>
        </div>
        <div class="bottom collapse_sidebar">
          <span> Collapse</span>
          <i class='bx bx-log-out'></i>
        </div>
      </div>

    </div>
  </nav>
